/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



/* apply to everything */




* {
    margin: 0px auto;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    font-weight: light;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
    overflow: scroll;
}

#welcome h1 {
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 2.5s steps(60, end);
}

#welcome a {
    white-space: nowrap;
    overflow: hidden;
    /*animation: type 0.2s steps(60, end);*/
    width: 30em;
    padding: 1px;
}


@keyframes type {
    from {
        width: 0;
    }
}

/*  */
header {
    width: 100%;
    font-size: 14px;
    background-color: black;
    position: fixed;
    text-transform: uppercase;
    /*    height: auto;*/
    vertical-align: middle;
}

header li {
    list-style: none;
    display: inline-block;
    opacity: 1;
}

body {
    height: 100vh;
    overflow: scroll;
    /*
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
*/
}

/*
#sections{
    overflow: scroll;
}
*/

/* sections */
section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /*    scroll-snap-align: start;*/
    /*    position: relative;*/
}

#welcome a {}

#about p {
    width: 80%;
}

/* classes */
.gray {
    background-color: darkslateblue;
}

.gray2 {
    background-color: darkslategray;
}

/* grid */

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 10px;
    width: 50%;

}


.proj {
    grid-column: auto/ span 2;
    grid-row: auto/ span 1;
}


.grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: auto;
    margin-bottom: 10px;

}



/**/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    /*    display: block;*/
}

a:visited {
    text-decoration: none;
}

#projects img:hover {
    opacity: 0.8;
}

/* IDs */



#button1 {
    display: block;
    background-color: black;
    /*    height: inherit;*/
    border: 1px black;
    padding: 10px 40px;
}

/*
a #button1:hover {
    background-color: orange;
}

#button1:hover {
    background-color: orange;
    opacity: 100%;
}

#button1 a:hover {}

.black-orange-link: hover {
    background: orage;
}
*/

#buttonproj {
    border: solid 1px white;
    padding: 5px 8px;
    margin: 10px auto;
    width: 100px;
    background-color: black;
}

/*
#buttonproj:hover {
    background-color: orange;
    opacity: 100%;
}
*/

#button {
    border: solid 1px white;
    padding: 10px 20px;
    display: block;
    background-color: black;
}

/*
#button:hover {
    background-color: orange;
    opacity: 100%;
}
*/



#button3 {
    border: solid 1px white;
    width: 30em;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background-color: black;
}

/*
#button3:hover {
    background-color: orange;
    opacity: 100%;
}
*/

#box {
    border: 1px solid white;
    padding: 10px;
    width: 10em;
    font-size: 20px;
    /*    vertical-align: middle;*/
    display: inline-block;
    margin: 5px 30px;
    background: black;
}

/*
#box:hover {
    background: orange;
}
*/

#box div {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

#disp {
    display: inline-block;
}


/*responsive mobile phones and tablets*/
/*iphone portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    * {}


    header {display: none;}
    /*
    header {
        width: 100%;
        font-size: 50px;
        background-color: black;
        position: fixed;
        text-transform: uppercase;
            height: auto;
        vertical-align: middle;
        z-index: 10;
    }

    header li {
        list-style: none;
        display: block;
        opacity: 1;
    }

    #box {
        border: 1px solid white;
        padding: 10px;
        width: 100%;
        font-size: 20px;
            vertical-align: middle;
        display: inline-block;
        margin: 15px;
        background: black;
    }

    #welcome h1 {
        font-size: 50px;
        width: 80%;
    }

    #welcome a {
        font-size: 45px;
        width: 70%;
        line-height: 120px;
        padding: 20px;
    }
*/
}
